@use "../abstract/varibles" as colors_font;
@use "../abstract/mixin" as mixin;
.card {
  &__wrapper {
    max-width: 50%;
    min-height: 100%;
    @include mixin.flex();
    padding-top: 2.8rem;
    gap: 2rem;
    &--result {
      flex: 50%;
      background-image: linear-gradient(
        colors_font.$light-slate-blue,
        colors_font.$light-royal-blue
      );
      border-radius: 2.5rem;
      -webkit-border-radius: 2.5rem;
      -moz-border-radius: 2.5rem;
      -ms-border-radius: 2.5rem;
      -o-border-radius: 2.5rem;
    }
    &--summary {
      flex: 45%;
      align-items: flex-start;
    }
  }
  &__title {
    &--resultHeading {
      color: colors_font.$pale-blue;
    }
    &--resultSummary {
      font-weight: colors_font.$font-700;
      color: colors_font.$dark-gray-blue;
    }
  }
  &__content {
    width: 70%;
    text-align: center;
  }
  &__subtitle {
    color: colors_font.$white;
    font-size: 2.15em;
    font-weight: colors_font.$font-700;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;
  }
  &__descriptionResult {
    color: colors_font.$light-lavender;
    line-height: 1.33;
  }
}
