@use "../abstract/varibles" as bgColors;
.card {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 3rem;

    &--result {
      flex: 50%;
      background-color: red;
      border-radius: 2.5rem;
      -webkit-border-radius: 2.5rem;
      -moz-border-radius: 2.5rem;
      -ms-border-radius: 2.5rem;
      -o-border-radius: 2.5rem;
    }
    &--summary {
      flex: 45%;
      align-items: flex-start;
    }
  }
  &__ {
  }
}
