@use "../abstract/varibles" as colors_font;
@use "../abstract/mixin" as layoutFlex;
.card {
  &__wrapper {
    width: 100%;
    min-height: 100%;
    @include layoutFlex.flex();
    padding-block: 2.8rem;
    gap: 2.5rem;
    &--result {
      flex: 50%;
      @include layoutFlex.bg-linear(
        colors_font.$light-slate-blue,
        colors_font.$light-royal-blue
      );
      @include layoutFlex.border-radius();
      @include layoutFlex.media-breakpoint(
        colors_font.$desing-mobile,
        max-width
      ) {
        @include layoutFlex.border-radius(0, 0);
      }
    }
    &--summary {
      flex: 45%;
      align-items: flex-start;
      padding-right: 3rem;
      @include layoutFlex.media-breakpoint(
        colors_font.$desing-mobile,
        max-width
      ) {
        padding: 2rem;
      }
    }
  }
  &__title {
    &--resultHeading {
      color: colors_font.$pale-blue;
    }
    &--resultSummary {
      font-weight: colors_font.$font-700;
      color: colors_font.$dark-gray-blue;
    }
  }
  &__content {
    width: 70%;
    text-align: center;
  }
  &__subtitle {
    color: colors_font.$white;
    font-size: 2.15em;
    font-weight: colors_font.$font-700;
    letter-spacing: 0.02em;
    margin-bottom: 1rem;
  }
  &__descriptionResult {
    color: colors_font.$light-lavender;
    line-height: 1.33;
  }
}
