@use "../abstract/varibles" as colors;
@use "../abstract/mixin" as layoutFlex;
.main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  @include layoutFlex.media-breakpoint(colors.$desing-mobile, max-width) {
    display: block;
  }
  &__card {
    width: 53rem;
    height: 37rem;
    position: relative;
    @include layoutFlex.flex(flex-start, space-between, row);
    @include layoutFlex.media-breakpoint(colors.$desing-mobile, max-width) {
      width: 100%;
      height: 100%;
      @include layoutFlex.flex(center, center, column);
    }
    gap: 3rem;
    border-radius: 2.5rem;
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem colors.$light-lavender;
  }
}
.card {
  &__title {
    font-size: 1.8em;
    &--hidden {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}
