@mixin flex($aling: center, $justify: flex-start, $direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: $aling;
  justify-content: $justify;
}
@mixin bgColor($color) {
  $light-color: mix($color, #fff, 6%);
  color: $color;
  background-color: $light-color;
}
@mixin contentImage($url) {
  &::before {
    content: url("../images/icon-#{$url}.svg");
    display: inline-block;
  }
}
@mixin bg-linear($primary, $second) {
  background-image: linear-gradient($primary, $second);
}
@mixin border-radius(
  $top-left: 2.5rem,
  $top-rigth: 2.5rem,
  $bottom-rigth: 2.5rem,
  $bottom-left: 2.5rem
) {
  border-radius: $top-left $top-rigth $bottom-rigth $bottom-left;
  -webkit-border-radius: $top-left $top-rigth $bottom-rigth $bottom-left;
  -moz-border-radius: $top-left $top-rigth $bottom-rigth $bottom-left;
  -ms-border-radius: $top-left $top-rigth $bottom-rigth $bottom-left;
  -o-border-radius: $top-left $top-rigth $bottom-rigth $bottom-left;
}
// Media Query
@mixin media-breakpoint($breakpoint, $direction: min-width) {
  @media screen and ($direction: $breakpoint) {
    @content;
  }
}
