// ------------ Mobile
$desing-mobile: 480px;
//  --------------- Weigth---------------
$font-500: 500;
$font-700: 800;
$font-800: 700;
//  --------------- Primary ---------------
$light-red: hsl(0, 55%, 50%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
//  --------------- Gradients---------------
// background
$light-slate-blue: hsl(252, 100%, 67%);
$light-royal-blue: hsl(241, 81%, 54%);
// circle
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);
//  --------------- Neutral---------------
$white: hsl(0, 0%, 100%);
$pale-blue: hsla(222, 100%, 96%, 0.68);
$light-lavender: hsla(241, 100%, 89%, 0.85);
$dark-gray-blue: hsl(224, 30%, 27%);
